@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");

@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}

body {
  background-color: lightgray;
  padding: 40px 150px;
}

h1 {
  color: black;
  font-family: 'Raleway', sans-serif;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: gray;
  text-decoration: underline;
  margin-bottom: -12px;
}

img {
  border-radius: 50%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul > li {
  display: inline-block;
}

.card {
  background-color: white;
  padding: 10px;
  margin: 15px auto;
  text-align: center;
}

.social-icon {
  font-size: 30px;
  color: lightpink;
  margin: 5px;
}

.button {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  background-color: pink;
  color: white;
  padding: 8px;
  border-radius: 20px;
}
