@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Poppins:300,400,500,700");
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

@media (max-width: 600px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
 /*
@media (max-width: 750px) {
    #background-video { display: none; }
    body {
      background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
      background-size: cover;
    }
}
*/
body {
  background-color: black;
  padding: 60px 250px;
}

h1 {
  color: black;
  font-family: 'Acme', sans-serif;
}

.travelpic {
   display: block;
   align-items: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: gray;
  text-decoration: underline;
  margin-bottom: -12px;
}

#profilepic {
  border-radius: 50%;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 10px;
  line-height: 20px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

ul > li {
  display: inline-block;
}

.card {
  background-color:  rgba(255,255,255, 0.65);
  padding: 10px;
  margin: 15px auto;
  text-align: center;
}

.social-icon {
  font-size: 30px;
  color:rgb(162, 99, 49);
  margin: 5px;
}

.social-icon:hover {
  color:rgb(151, 71, 6);
}

.button {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 13px;
  background-color: rgb(162, 99, 49);
  color: white;
  padding: 8px;
  border-radius: 20px;
}

.button:hover {
  text-decoration: none;
  background-color:rgb(151, 71, 6);
}

#name {
  color: black;
  background-color: rgba(201, 31, 68, 0.2);
  border-radius: 20px;
  text-decoration: none;
  margin: 10px 250px;
  font-weight: 300;
  font-size: 15px;
}

#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.25;
}

/* height: 100vw (viewport width) and width: 100vh (viewport height) make the video extend to the full width and height of the viewport.
object-fit: cover automatically sizes the background video to keep its original aspect ratio while filling the screen, clipping out edges of the video when necessary.
position: fixed and the following left, right, top, and bottom position the video relative to the viewport and separates it from the rest of the page content. This keeps the video in place when the user scrolls, and allows other content to sit on top of it.
z-index places the video background under accompanying content.
https://blog.hubspot.com/website/video-background-css */
